	<div id="footer">
		<div class="inside clearfix">
			<ul id="buttons">
				<li><span>Email</span><a href="mailto:peter@peterhurford.com"><img src="/images/buttons/email.png"></a></li>
				<li><span>Twitter</span><a href="http://www.twitter.com/peterhurford"><img src="/images/buttons/twitter.png"></a></li>
				<li><span>Google+</span><a href="https://plus.google.com/100404032463536831784/posts"><img src="/images/buttons/google.png"></a></li>
				<li><span>LinkedIn</span><a href="http://www.linkedin.com/in/peterhurford8"><img src="/images/buttons/linkedin.png"></a></li>
				<li><span>Skype</span><a href="skype:peter.hurford8?userinfo"><img src="/images/buttons/skype.png"></a></li>
				<li><span>GitHub</span><a href="https://github.com/peterhurford"><img src="/images/buttons/github.png"></a></li>
				<li><span>Stack Overflow</span><a href="http://stackoverflow.com/users/3317833/peterhurford"><img src="/images/buttons/stackoverflow.png"></a></li>
				<li><span>Reddit</span><a href="http://www.reddit.com/user/peterhurford/"><img src="/images/buttons/reddit.png"></a></li>
				<li><span>LessWrong</span><a href="http://lesswrong.com/user/peter_hurford/overview/"><img src="/images/buttons/lesswrong.png"></a></li>
				<li><span>Wikipedia</span><a href="https://en.wikipedia.org/wiki/User:Peterhurford"><img src="/images/buttons/wikipedia.png"></a></li>
			</ul>
		</div>
	</div>
</body>

<script type='text/javascript' src='/assets/js/jquery-actual.js'></script>
<script type='text/javascript' src='/assets/js/jquery-pageslide.js'></script>
<script type='text/javascript' src='/assets/js/jquery-scrollto.js'></script>
<script type='text/javascript' src='/assets/js/jquery-isotope.js'></script>
<script type='text/javascript' src='/assets/js/theme.js'></script>
<script type='text/javascript' src="/assets/js/dock.js"></script>
</body>
</html>
