	<div id="footer">
		<div class="inside">
			<ul id="buttons">
				<li><span>Email</span><a href="mailto:peter@peterhurford.com"><img src="images/buttons/email.png" title="Send me an email"></a></li>
				<li><span>Twitter</span><a href="http://www.twitter.com/peterhurford"><img src="images/buttons/twitter.png" title="Follow me on Twitter"></a></li>
				<li><span>Facebook</span><a href="https://www.facebook.com/peterhurford"><img src="images/buttons/fb.png" title="Friend me on Facebook"></a></li>
				<li><span>Google+</span><a href="https://plus.google.com/100404032463536831784/posts"><img src="images/buttons/google.png" title="Add me on Google+"></a></li>
				<li><span>LinkedIn</span><a href="http://www.linkedin.com/in/peterhurford8"><img src="images/buttons/linkedin.png" title="Connect with me on LinkedIn"></a></li>
				<li><span>Skype</span><a href="skype:peter.hurford8?userinfo"><img src="images/buttons/skype.png" title="Add me on Skype"></a></li>
				<li><span>GitHub</span><a href="https://github.com/peterhurford"><img src="images/buttons/github.png" title="View my GitHub profile"></a></li>
				<li><span>Reddit</span><a href="http://www.reddit.com/user/peterhurford/"><img src="images/buttons/reddit.png" title="View my Reddit profile"></a></li>
				<li><span>LessWrong</span><a href="http://lesswrong.com/user/peter_hurford/overview/"><img src="images/buttons/lesswrong.png" title="View my LessWrong profile"></a></li>
				<li><span>Wikipedia</span><a href="https://en.wikipedia.org/wiki/User:Peterhurford"><img src="images/buttons/wikipedia.png" title="View my Wikipedia profile"></a></li>
			</ul>
		</div>
	</div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="assets/js/headertext.jquery.js"></script>
<script src="assets/js/dock.js"></script>
</html>