<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Peter Hurford</title>
	<meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold" />
	<link rel="stylesheet" href="assets/css/style.css" type="text/css" media="screen" />
	<style type="text/css">
		#homeBanner {
			background-image: url(http://everydayutilitarian.com/personal/images/{{page.image}});
			height: {{page.bannerheight}};
		}
		#bannerText {
			top: {{page.topheight}};
		}
	</style>
</head>

<body class="home page page-template">
	<div id="container">		
		<div id="homeBanner">			
			<div id="bannerText">
				<h2>PETER HURFORD</h2>
				{% if page.index == true %} <p>Web Developer. Statistician. Writer.</p> {% endif %}
			</div>
		</div>
	</div>