<div id="slideNav" class="panel">
		<a href="javascript:jQuery.pageslide.close()" class="closeBtn"></a>								
		<div id="mainNav">
			<div class="menu-main-menu-container">
				<ul id="menu-main-menu" class="">
					<li><a href="/">Home</a></li>
          <li><a href="http://www.riseinteractive.com">Rise Interactive</a></li>
          <li><a href="http://www.charitysciencehealth.org">Charity Science Health</a></li>
          <li><a href="http://www.animalcharityevaluators.org">Animal Charity Evaluators</a></li>
          <li><a href="/other/veg_research.html">Veg Research</a></li>
          <li><a href="http://www.dotimpact.im">.impact</a></li>
          <li><a href="http://www.github.com/peterhurford">Open Source</a></li>
					<li><a href="/blog">Blogging</a></li>
					<li><a href="/other/reading.html">Reading</a></li>
					<li><a href="/other/television.html">TV</a></li>
					<li><a href="/other">...</a></li>
				</ul>
			</div>
		</div>
		<div class="widgets">
			<div id="text-2" class="widget_text sidebarBox widgetBox">
				<span class="widgetTitle">Peter Hurford</span>
				<div class="textwidget">
          <p>Peter Hurford is a data scientist working for <a href="http://www.riseinteractive.com/">Rise Interactive</a> in Chicago.</p>
				</div>
			</div>
		</div>
	</div>

	<div id="container">	
		<div id="header">
			<div class="top">
				<div class="inside clearfix">
					<div id="logo">
						<h1 class="logo">
							<a href="/">PETER HURFORD</a>
						</h1>
					</div>
					<a href="#slideNav" class="menuToggle"></a>				
				</div>		
			</div>
