<div id="slideNav" class="panel">
    <a href="javascript:jQuery.pageslide.close()" class="closeBtn"></a>                                
    <div id="mainNav">
        <div class="menu-main-menu-container">
            <ul id="menu-main-menu" class="">
                <li><a href="/">Home</a></li>
                <li><a href="http://www.rethinkpriorities.org">Rethink Priorities</a></li>
                <li><a href="http://www.github.com/peterhurford">Open Source</a></li>
                <li><a href="/blog">Blogging</a></li>
                <li><a href="https://peterhurford.tumblr.com/">Tumblr</a></li>
                <li><a href="https://twitter.com/peterhurford">Twitter</a></li>
                <li><a href="/links">Links</a>
                <li><a href="/other/reading.html">Books</a></li>
                <li><a href="/other/television.html">TV</a></li>
                <li><a href="/other">...More</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="container">  
    <div id="header">
        <div class="top">
            <div class="inside clearfix">
                <div id="logo">
                    <h1 class="logo">
                        <a href="/">PETER HURFORD</a>
                    </h1>
               </div>
            <a href="#slideNav" class="menuToggle"></a>        
            </div>    
        </div>
      <!-- Yes, it is correct here to open five divs but only close three. -->
