/*
	Theme for Peter Hurford, Design 3.0
	Theme by Peter Hurford <www.peterhurford.com> with design help from Kate Lowry.
	
	Theme inspired by Hero Theme <http://themetrust.com/themes/hero>.
	CSS fade from Bavotasan <http://bavotasan.com/2011/a-simple-fade-with-css3/>.
	Footer "mac dock"-style zoom adapted from GirlieMac <http://girliemac.com/blog/2010/06/02/simulating-macos-dock-like-menu-with-css3/>.
*/


* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

html { 
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust:none;
	overflow-y: scroll;
}

body {
	font-size: 100%;
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;	
	width:auto; height:auto;	
	padding: 0 0 0 0;
	margin: 0;
	color: #7d7d7b;	
	background-color: #1b1b1b;	
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 15px 0;
	font-weight: normal;
	color: #555555;
	font-family: "Droid Serif", "Georgia", serif;
	clear: both;
}

a {
	color: #ccb676;
	text-decoration: none;
	outline: none;
}
a:hover {color: #aa9862;}
a img { border: none; }

img {
	display: block;
	margin: 0;
}

img.left {
	margin: 0 15px 15px 0;
	float: left;
}

p {
	line-height: 1.7em;
	font-size: .95em;
	margin: 0 0 20px 0;	
}


/* Clearfix ----------- */

/* Some clearfix code from HTML5 Boilerplate */
.clearfix:before, .clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

a.action {	
	font-style: italic;		
}


/* Header */

#header{	
	width: 100%;	
	position: relative;
	padding: 0 0 0 0;
	margin: 0 0 0 0!important;	
	background: #fff;		
}

#header .inside{	
	max-width: 62.5em;
	margin: 0 auto;	
	position: relative;
	padding: 20px 0 20px 0;	
}

#header h1 {
	font-size: 1.5em;	
	color: #555555;	
	margin: 0;			
}

#header h1 a, #header h1 a:hover {	
	color: #555555 !important;	
}

#homeBanner {
	display: block;
	margin: 0px auto 0;
	width: 100%;
	position: relative;
	padding-top: 1px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;	
}

#homeBanner h2 {
	text-align: center;
	color:#fff;
	font-size: 64px;
	text-transform: uppercase;
	display: block;
	text-shadow: 0 0 8px rgba(0,0,0,.3);
	position: relative;
	margin: 0 auto 0px;
	padding: 0 0px;
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#homeBanner p {	
	text-align: center;
	color:#fff;
	font-family: "Droid Serif", "Georgia", serif;
	font-size: 20px;
	display: block;
	text-shadow: 0 0 8px rgba(0,0,0,.7);
	position: relative;
	margin: 1px auto 1px;	
}


/* Content */

#container {	
	width: 100%;
	margin: 0 auto;			
}

.wrap {	
	background: #fff;
	padding-top: 1px;
}

#main {
	margin: 0 auto 20px;
	padding: 0 0 0px 0;	
	max-width: 62.5em;			
}

.home #main {	
	border: none;		
}

.home.page #content {
	padding-top: 0px !important;
}

#content {
	float: left;						
	position: relative;	
	margin: 0 0 20px 2.5%;
	padding: 0 0 0 0 !important;
	width: 62.5%;	
	
}

#content.full {
	margin: 0 0 20px 2.5%;
	padding: 0 0 0 0 !important;
	width: 95%;					
}

#content.full.grid {
	margin: 0 0 20px 0%;				
}

.home #content.full, .page-template-page-home-php #content.full {	
	width: 100%;						
}

.home #main {
	padding-top: 30px;
}

.home.page-template-page-full-width-php #content.full {
	width: 95%;	
}

#content h1 a,
#content h2 a,
#content h3 a,
#content h4 a,
#content h5 a{	
	color: #555555;
}

#content h1 a:hover,
#content h2 a:hover,
#content h3 a:hover,
#content h4 a:hover,
#content h5 a:hover{	
	color: #a7a7a3 ;		
}

#content .postThumb{
	margin: 0 0 20px 0 !important;
}

.homeSection {	
	margin-bottom: 20px!important;
	width: 100%;	
}

.homeSection h3 {
	font-size: 1.2em;	
	margin: 0 auto 30px;
	clear: both;
	background: transparent url(http://everydayutilitarian.com/personal/images/line.gif) 0 center repeat-x;	
	color: #555555;
	text-align: center;	
	font-family: "Droid Serif", "Georgia", serif;
	width: 95%;
	text-transform: uppercase;
}

.homeSection h3 span {
	background: #fff;
	padding: 10px;
}

#content .page.small{	
	width: 300px;
	min-height: 280px;
	display: block;	
	margin: 0 0 25px 25px;	
	padding-bottom: 0px;	
	float: left;
	background: #fff;
	text-align: center;	
}

#content .page.small p{	
	color: #979797;
}

#content .page.small .thumb{	
	margin-bottom: 15px;
	
}

#content .page.small h2{	
	font-size: 1em;	
	line-height: 1.3em;
	font-family: "Droid Serif", Georgia, Times, "Times New Roman", serif;
}

#content .page.small p{	
	margin: 0 20px 0px 20px;
}

#featuredPages .fade {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

#featuredPages .fade:hover { opacity: 0.5; }

#content #profile {	
	background: #1b1b1b;
	color: white;
	margin: 0px 10px 30px 10px;
	padding: 20px;
	line-height: 135%;
}

#content #profile a { color: #dddddd; }
#content #profile a:hover { text-decoration: underline; }


/* Footer */

#footer {	
	width: 100%;
	margin: 0 auto;	
	background: #1b1b1b;
	color: #5b5b5a;
}

#footer .inside {
	text-align: center;
	max-width: 62.5em;
	margin: 40px auto 30px;
	padding: 0px 0 0;
}

#footer .inside #buttons ul {
	font-size: 14px;
	padding: 0 30px;
	margin: 0;
}

#footer .inside #buttons li {
	list-style-type: none;
	display: inline-block;
	position: relative;		
}

#footer .inside #buttons li span {
	display: none;
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 100%;
	color: white;
	background-color: #1b1b1b;
}

#footer .inside #buttons li:hover span {
	display: block;
}

#footer .inside #buttons li img {
	margin-bottom: 10px;
	-webkit-transition: all 0.2s;
	-webkit-transform-origin: 50% 100%;
	-moz-transition: all 0.2s;
	-moz-transform-origin: 50% 100%;
	-o-transition: all 0.2s;
	-o-transform-origin: 50% 100%;
}

#footer .inside #buttons li img:hover {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-o-transform: scale(2);
	margin: 0 15px 15px;
}

#footer .inside #buttons li:hover + li img,
#footer .inside #buttons li.prev img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-o-transform: scale(1.4);
	margin: 0 15px 15px;
}
