/*
	Theme for Beta Theta Pi, Alpha Eta, Design 1.0.0
	Theme by Peter Hurford, www.peterhurford.com
	
	Inspiration from King Size Theme <http://www.kingsizetheme.com/>, Naz Hamid's site <http://nazhamid.com/>, and Wilson Miner's site <http://wilsonminer.com/>.
	
	Special thanks to the JQuery library <http://www.jquery.com/> and the Backstretch plug-in <http://srobbin.com/jquery-plugins/backstretch/>, which do a lot of the heavy lifting at this site.
	
	Roll-over buttons from http://www.elated.com/articles/css-rollover-buttons/.
	
	Position of buttons adapted from the .impact main page <http://www.dotimpact.im> from Ozzie Gooen.
*/


/* Default */
* {
	margin: 0;
	padding: 0;
}


/* Content */
#content {
	position: absolute;
	left: 400px;
	height: 100%;
	width: 600px;
	background: rgba(0, 0, 0, 0.7);
	color: #ffffff;
}
#content h1 {
	color: #888888;
	padding: 60px 20px 40px 40px;
}
#content p {
	padding: 40px;
}


/* Nav Bar */
#navbar {
	position: absolute;
	left: 50px;
	height: 100%;
	width: 300px;
	background: rgba(0, 0, 0, 0.7);
	font-size: 160%;
	line-height: 50px;
}
#navbar .logo {
	padding: 40px 0px;
}
#navbar .logo img {
	height: 75px;
	width: 300px;
}

#navbar .menu a:visited, #navbar .menu a {
	display: block;
	width: 300px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
}
#navbar .menu a:hover {
	background-color:#cccccc;
	color: #000000;
}
#navbar .menu ul { list-style: none; }

#navbar .buttons {
	padding-left: 110px;
	padding-top: 20px;
}
#navbar .buttons li {
	float:left;
	padding-right:20px;
	list-style:none;
}
#tw-b {
	display: block;
	width: 30px;
	height: 25px;
	background: url("pics/twitter.png") no-repeat 0 0;
}
#fb-b {
	display: block;
	width: 30px;
	height: 25px;
	background: url("pics/facebook.png") no-repeat 0 0;
}
#fb-b:hover, #tw-b:hover { 
	background-position: 0 -25px;
}
#fb-b span, #tw-b span {
	position: absolute;
	top: -999em;
}


/* Footer */
#footer {
	position: fixed;
	right: 0;
	bottom: 0;
	background-color: #000000;
	color: #888888;
	font-size: 75%;
}
#footer a:visited, a {
	color: #3965ae;
	text-decoration:none;
}
#footer a:hover {
	color: #aaccee;
	text-decoration: underline;
}